<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
 <% if (page === 'dashboard') { %>
  <link rel="stylesheet" href="/css/Admin_sidebar.css">
  <% } %>
</head>
<body>

  <%- include("./pertial/admin-sidebar.ejs") %>

    <!-- Page content here -->
    <div class="mt-4">
      <h2>Dashboard Overview</h2>
      <p>This is your admin dashboard. From here you can manage posts, pages, and more.</p>
    </div>
  </div>

</body>
</html>
